# Ansible configuration for this project.
[defaults]
inventory            = inventory.ini
remote_user          = ec2-user               # default SSH user on Amazon Linux
private_key_file     = ~/.ssh/jenkins-key.pem # key to SSH into the EC2s
host_key_checking    = False                  # don't prompt on first SSH connect
deprecation_warnings = False

[privilege_escalation]
become = True                                 # run tasks with sudo by default
